Repository polaroidkidd/cloudkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

test commit
  README.md
  src/lib/components/atoms/media/image.svelte
  src/lib/components/molecues/user/myUserDetails.svelte
  src/lib/components/organisms/modals/modalConfigs.ts
  src/lib/components/organisms/modals/signUpModal.svelte
  src/lib/components/organisms/navbar.svelte
  src/lib/server/repository/ImageRepository.ts
  src/lib/utils/imageUtils.ts
  src/routes/home/+page.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update PR.yaml
  .github/workflows/PR.yml
  .nvmrc
  docker-compose.yaml
  pnpm-lock.yaml
  prisma/seed.js
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

using github variables
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

global env vars in GITHUB Action
  .github/workflows/PR.yml
  README.md
  package.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

Enable e2e tests for PRs (#1)
  .github/workflows/PR.yml
  .nvmrc
  README.md
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  prisma/seed.js
  src/lib/components/atoms/media/image.svelte
  src/lib/components/molecues/user/myUserDetails.svelte
  src/lib/components/organisms/modals/modalConfigs.ts
  src/lib/components/organisms/modals/signUpModal.svelte
  src/lib/components/organisms/navbar.svelte
  src/lib/server/repository/ImageRepository.ts
  src/lib/utils/imageUtils.ts
  src/routes/home/+page.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

feat: add env files
  .env.ci
  .env.development
  .env.production
  .gitignore
Due: none

feat: add env files (#2)
  .env.ci
  .env.development
  .env.production
  .gitignore
Due: none

feat: update readme
  README.md
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

feat: update readme (#3)
  README.md
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

feat: cloudflare deployment
  .env.development
  .env.example
  .env.production
  .github/workflows/PR.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/dev.schema.prisma
  prisma/prod.schema.prisma
  prisma/seed.js
  sk-db-dump.sql
  src/lib/components/atoms/media/avatar.svelte
  src/lib/server/auth/lucia.ts
  src/lib/server/repository/ImageRepository.ts
  src/lib/server/repository/prismaClient.ts
  src/lib/utils/RepositoryMethods.ts
  src/routes/+page.server.ts
  svelte.config.js
  test.jpeg
  vite.config.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

fix dev vs prod prismaClient initialization
  .env.development
  package.json
  src/lib/server/repository/prismaClient.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

try a different deployment method
  .github/workflows/PR.yml
  package.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

something is broken somewhere with prisma.. investigating
  .env.development
  package.json
  prisma/seed.js
  src/lib/components/atoms/media/avatar.svelte
  src/lib/server/repository/prismaClient.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

preview:cf works with production environment
  src/lib/components/atoms/media/avatar.svelte
  src/lib/components/molecues/user/userCardList.svelte
  src/lib/server/repository/prismaClient.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

working locally with dev env now works as expected
  .env.ci
  .env.development
  .github/workflows/PR.yml
  package.json
  prisma/seed.js
  prisma/seedUtils.js
  src/lib/components/atoms/media/avatar.svelte
  src/lib/server/auth/lucia.ts
  src/lib/server/repository/ImageRepository.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

added otherUser route
  src/lib/components/molecues/user/userCardList.svelte
  src/routes/[userid]/+page.server.ts
  src/routes/[userid]/+page.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

added a lot of documentation
  src/lib/components/molecues/user/myUserDetails.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
  src/lib/server/repository/ImageRepository.ts
  src/lib/server/repository/UserRepository.ts
  src/lib/utils/CONSTANTS.ts
  src/lib/utils/RepositoryMethods.ts
  src/lib/utils/bufferUtils.ts
  src/lib/utils/imageUtils.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

fix missing command in PR.yaml
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

use eventualAuth to include correct dependencies at build time
  src/lib/server/auth/lucia.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

move some types around and add some logs
  src/lib/server/auth/lucia.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

make IS_CI: flase
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

using dev server to e2e tests
  .env.ci
  .github/workflows/PR.yml
  package.json
  playwright.config.ci.ts
  src/lib/server/auth/lucia.ts
  src/lib/server/repository/prismaClient.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated the readme
  .env.example
  README.md
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

add merge to master workflow
  .github/workflows/MERGE_MASTER.yml
  README.md
  package.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

feat: add cloudflare prod deployment configurations (#4)
  .env.ci
  .env.example
  .env.production
  .github/workflows/MERGE_MASTER.yml
  .github/workflows/PR.yml
  .gitignore
  README.md
  package.json
  playwright.config.ci.ts
  pnpm-lock.yaml
  prisma/dev.schema.prisma
  prisma/prod.schema.prisma
  prisma/seed.js
  prisma/seedUtils.js
  sk-db-dump.sql
  src/lib/components/atoms/media/avatar.svelte
  src/lib/components/molecues/user/myUserDetails.svelte
  src/lib/components/molecues/user/userCardList.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
  src/lib/server/auth/lucia.ts
  src/lib/server/repository/ImageRepository.ts
  src/lib/server/repository/UserRepository.ts
  src/lib/server/repository/prismaClient.ts
  src/lib/utils/CONSTANTS.ts
  src/lib/utils/RepositoryMethods.ts
  src/lib/utils/bufferUtils.ts
  src/lib/utils/imageUtils.ts
  src/routes/+page.server.ts
  src/routes/[userid]/+page.server.ts
  src/routes/[userid]/+page.svelte
  svelte.config.js
  test.jpeg
  vite.config.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

fix: merge to master github action
  .env.ci
  .github/workflows/MERGE_MASTER.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

fix: merge to master github action (#5)
  .env.ci
  .github/workflows/MERGE_MASTER.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

fix: merge to master naming
  .github/workflows/MERGE_MASTER.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

fix: merge to master naming (#6)
  .github/workflows/MERGE_MASTER.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

add a lot more documentation
  .github/workflows/MERGE_MASTER.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/components/atoms/lists/listItem.svelte
  src/lib/components/molecues/user/userCardList.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

Added more documentation to the live example and the readme (#7)
  .github/workflows/MERGE_MASTER.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/components/atoms/lists/listItem.svelte
  src/lib/components/molecues/user/userCardList.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

made the intro page a lot nicer
  .env.example
  createCloudflareProject.js
  package.json
  src/app.html
  src/lib/components/atoms/lists/listItem.svelte
  src/lib/components/icons/IconDle.svelte
  src/lib/components/organisms/navbar.svelte
  src/lib/components/rootConainer.svelte
  src/lib/components/sections/aboutThisProject.svelte
  src/lib/components/sections/authFlow.svelte
  src/lib/components/sections/dataProxy.svelte
  src/lib/components/sections/githubActions.svelte
  src/lib/components/sections/pr.svelte
  src/lib/components/sections/prerequisites.svelte
  src/lib/components/sections/prismaCodeOrg.svelte
  src/lib/components/sections/runLocal.svelte
  src/lib/components/sections/runProd.svelte
  src/lib/components/sections/scripts.svelte
  src/lib/components/sections/tech.svelte
  src/lib/components/sections/welcome.svelte
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/users/+page.server.ts
  src/routes/users/+page.svelte
  static/icons/LICENSE
  tailwind.config.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated e2e test
  tests/e2e/homepage.spec.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated environemnts in Actions
  .github/workflows/MERGE_MASTER.yml
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

updated environemnts in Actions
  .github/workflows/MERGE_MASTER.yml
  .github/workflows/PR.yml
  src/lib/components/atoms/icons/IconLoading.svelte
  src/routes/users/+page.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

sign in and up now work again
  src/lib/components/organisms/modals/signInModal.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update createCloudflareProject call
  createCloudflareProject.js
  package.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

impove docs and add separate demo users page (#11)
  .env.example
  .github/workflows/MERGE_MASTER.yml
  .github/workflows/PR.yml
  createCloudflareProject.js
  package.json
  src/app.html
  src/lib/components/atoms/icons/IconLoading.svelte
  src/lib/components/atoms/lists/listItem.svelte
  src/lib/components/icons/IconDle.svelte
  src/lib/components/organisms/modals/signInModal.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
  src/lib/components/organisms/navbar.svelte
  src/lib/components/rootConainer.svelte
  src/lib/components/sections/aboutThisProject.svelte
  src/lib/components/sections/authFlow.svelte
  src/lib/components/sections/dataProxy.svelte
  src/lib/components/sections/githubActions.svelte
  src/lib/components/sections/pr.svelte
  src/lib/components/sections/prerequisites.svelte
  src/lib/components/sections/prismaCodeOrg.svelte
  src/lib/components/sections/runLocal.svelte
  src/lib/components/sections/runProd.svelte
  src/lib/components/sections/scripts.svelte
  src/lib/components/sections/tech.svelte
  src/lib/components/sections/welcome.svelte
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/users/+page.server.ts
  src/routes/users/+page.svelte
  static/icons/LICENSE
  tailwind.config.ts
  tests/e2e/homepage.spec.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

fix: delete account logic
  prisma/seed.js
  prisma/seedUtils.js
  src/lib/components/organisms/modals/signInModal.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
  src/lib/components/organisms/navbar.svelte
  src/lib/schemas/forms.ts
  src/lib/server/repository/ImageRepository.ts
  src/lib/server/repository/UserRepository.ts
  src/lib/utils/RepositoryMethods.ts
  src/lib/utils/general.ts
  src/routes/+layout.server.ts
  src/routes/+page.server.ts
  src/routes/home/+page.server.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

Path conditions:
  prettier --write --plugin-search-dir=./src: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  prettier --check --plugin-search-dir=./src: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  eslint --fix: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  eslint: any of: *.{js,ts,svelte}
