Repository polaroidkidd/cloudkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

.lintstagedrc:

{
	"*.{js,ts,svelte,css,scss,postcss,md,json,yml}": [
		"prettier --write --plugin-search-dir=./src",
		"prettier --check --plugin-search-dir=./src",
		"eslint --fix"
	],
	"*.{js,ts,svelte}": "eslint"
}

configured tasks a littlbe bit better, still some work with the local api mock containers
  .env.development
  apps/styleguide/package.json
  apps/swagger-ui/vite.config.ts
  apps/web/vite.config.ts
  package.json
  packages/api-mocks/docker-compose.yaml
  packages/db-schema/package.json
  packages/eslint-config/.lintstagedrc
  packages/eslint-config/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

disable html check
  packages/ui-core/src/components/lists/list-tem.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated the description with some links
  .github/workflows/PR.yml
  apps/web/src/lib/components/sections/tech.svelte
  packages/ui-core/src/components/lists/list-tem.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update dev script
  package.json
  packages/api-mocks/docker-compose.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

setup api and storybook pages
  apps/styleguide/package.json
  apps/web/src/lib/components/sections/tech.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configured lint-staged for ui-core
  .husky/pre-commit
  packages/ui-core/.lintstagedrc
Due: none

configured global check task
  apps/web/src/lib/server/repository/image-repository.ts
  apps/web/src/lib/server/repository/user-repository.ts
  apps/web/src/lib/server/services/user-service.ts
  apps/web/src/routes/(protected)/profile/+page.server.ts
  package.json
  packages/ui-core/src/components/buttons/navigation-button.svelte
  packages/ui-core/tsconfig.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configure global lint task
  apps/styleguide/.lintstagedrc
  apps/styleguide/src/index.ts
  apps/web/src/hooks.server.ts
  package.json
  packages/tests/.lintstagedrc
  packages/tests/package.json
  packages/ui-core/package.json
  packages/ui-core/src/constants/index.ts
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

added tests to ui-core
  packages/ui-core/package.json
  packages/ui-core/src/components/buttons/simple-button.test.ts
  packages/ui-core/svelte.config.js
  packages/ui-core/tsconfig.json
  packages/ui-core/vite.config.ts
  packages/ui-core/vitest-setup.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configured vitest
  apps/web/package.json
  apps/web/src/lib/components/molecues/user/user-card-list.test.ts
  apps/web/src/lib/components/sections/data-proxy.svelte
  apps/web/src/lib/components/sections/github-actions.svelte
  apps/web/src/lib/components/sections/pr.svelte
  apps/web/src/lib/components/sections/prerequisites.svelte
  apps/web/src/lib/components/sections/prisma-code-org.svelte
  apps/web/src/lib/components/sections/run-local.svelte
  apps/web/src/lib/components/sections/scripts.svelte
  apps/web/vite.config.ts
  apps/web/vitest-setup.ts
  package.json
  packages/ui-core/package.json
  packages/ui-core/src/components/buttons/index.ts
  packages/ui-core/src/components/buttons/navigation-button.svelte
  packages/ui-core/src/components/buttons/simple-button.svelte
  packages/ui-core/src/components/forms/text-edit.svelte
  packages/ui-core/src/components/forms/text-input-area.svelte
  packages/ui-core/src/components/forms/text-input-autocomplete.svelte
  packages/ui-core/src/components/forms/text-input.svelte
  packages/ui-core/src/components/icons/index.ts
  packages/ui-core/src/components/media/image-resource.svelte
  packages/ui-core/src/components/modals/index.ts
  packages/ui-core/src/components/skeletons/skeleton-card-list.svelte
  packages/ui-core/src/constants/index.ts
  packages/ui-core/src/index.ts
  packages/ui-core/src/routes/+page.svelte
  packages/ui-core/src/schemas/index.ts
  packages/ui-core/svelte.config.js
  packages/ui-core/tsconfig.json
  packages/ui-core/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update home page description
  apps/web/src/lib/components/sections/tech.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update github action
  .github/workflows/PR.yml
  apps/web/package.json
  package.json
  packages/ui-core/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

update pnpm versions
  .github/workflows/PR.yml
  package.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

update npmrc and node version
  .github/workflows/PR.yml
  .npmrc
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

update npmrc and node version and updated some deps
  .github/workflows/PR.yml
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

add the install tasks again as theiyre needed in the monorepo setup
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

delete redundant file
  apps/swagger-ui/src/routes/swagger.json/+server.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

fixed jest typescript issues
  apps/web/src/lib/components/molecues/user/user-card-list.test.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  apps/web/vitest-setup.ts
  packages/ui-core/src/app.html
  packages/ui-core/tsconfig.json
  packages/ui-core/vite.config.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

added missing step in verify
  apps/swagger-ui/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

updated naming
  .github/workflows/PR.yml
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

fix routing impor tbug
  packages/ui-core/src/components/buttons/simple-button.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

try different publishing approach
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

rename
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

fix action file
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

three separate actions for publishing
  .github/workflows/PR.yml
  apps/web/package.json
  package.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

try using deprecated action to publish
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

update secrets
  apps/web/package.json
  packages/db-schema/package.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

update the description
  apps/web/src/lib/components/root-conainer.svelte
  apps/web/src/lib/components/sections/github-actions.svelte
  apps/web/src/lib/components/sections/pr.svelte
  apps/web/src/lib/components/sections/road-map.svelte
  apps/web/src/lib/components/sections/run-local.svelte
  apps/web/src/lib/components/sections/run-prod.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

add tanstack query
  .env.development
  apps/web/package.json
  apps/web/src/lib/components/organisms/modals/register-modal.svelte
  apps/web/src/lib/components/organisms/navbar/protected-navbar.svelte
  apps/web/src/lib/server/middleware/rate-limiter.ts
  apps/web/src/routes/(public)/+page.server.ts
  package.json
  packages/ui-core/src/routing/index.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated turbo
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

added stubs for api endpoints
  apps/web/package.json
  apps/web/src/lib/components/organisms/modals/register-modal.svelte
  apps/web/src/routes/(protected)/api/v1/user/+server.ts
  apps/web/src/routes/(protected)/api/v1/user/[userId]/+server.ts
  apps/web/src/routes/(public)/api/v1/auth/+server.ts
  apps/web/src/routes/(public)/api/v1/auth/[session]/+server.ts
  packages/service-contract/src/index.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

did a lot of refactoring to get away from zod for form validation
  apps/web/package.json
  apps/web/src/lib/client/auth/schemas.ts
  apps/web/src/lib/components/organisms/modals/authenticate-modal.svelte
  apps/web/src/lib/components/organisms/modals/register-modal.svelte
  apps/web/src/lib/server/middleware/validate.ts
  apps/web/src/routes/(public)/+layout.server.ts
  apps/web/src/routes/(public)/+page.server.ts
  apps/web/src/routes/(public)/api/v1/auth/+server.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+layout.ts
  packages/ui-core/package.json
  packages/ui-core/src/api/base-api-client.ts
  packages/ui-core/src/components/forms/text-input.svelte
  packages/ui-core/src/index.ts
  packages/ui-core/src/schemas/index.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

moved back to zod from valibot
  apps/web/package.json
  apps/web/src/lib/client/auth/schemas.ts
  apps/web/src/lib/components/organisms/modals/authenticate-modal.svelte
  apps/web/src/lib/components/organisms/modals/register-modal.svelte
  apps/web/src/lib/server/middleware/validate.ts
  apps/web/src/routes/(public)/+layout.server.ts
  apps/web/src/routes/(public)/+page.server.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

managed to get mostly everything working with tanstack
  apps/web/src/lib/api/api-user-service.ts
  apps/web/src/lib/api/auth-service-api.ts
  apps/web/src/lib/api/user-service-api.ts
  apps/web/src/lib/client/auth/schemas.ts
  apps/web/src/lib/clientServices/client-user-service.ts
  apps/web/src/lib/components/organisms/modals/register-modal.svelte
  apps/web/src/lib/queries/fetch-random-avatar-query-config.ts
  apps/web/src/lib/server/repository/image-repository.ts
  apps/web/src/lib/server/repository/user-repository.ts
  apps/web/src/routes/(public)/api/v1/auth/+server.ts
  packages/service-contract/src/index.ts
  packages/ui-core/src/components/forms/text-input.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

getting stuck on parsing form data with zod. Should probably do it with superForm
  apps/web/src/lib/api/auth-service-api.ts
  apps/web/src/lib/server/repository/image-repository.ts
  apps/web/src/lib/server/repository/user-repository.ts
  apps/web/src/routes/(public)/api/v1/auth/+server.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated dependencies in turbo.json so I can just run pnpm dev and everything will set up
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

got the login working as expected
  apps/web/src/lib/api/auth-service-api.ts
  apps/web/src/lib/client/auth/schemas.ts
  apps/web/src/lib/components/molecues/user/user-details.svelte
  apps/web/src/lib/components/organisms/modals/register-modal.svelte
  apps/web/src/lib/server/repository/image-repository.ts
  apps/web/src/lib/server/repository/user-repository.ts
  apps/web/src/lib/server/services/user-service.ts
  apps/web/src/lib/stores/user-store.ts
  apps/web/src/routes/(protected)/+layout.svelte
  apps/web/src/routes/(protected)/profile/+page.server.ts
  apps/web/src/routes/(protected)/profile/+page.svelte
  apps/web/src/routes/(public)/+page.server.ts
  apps/web/src/routes/(public)/api/v1/auth/+server.ts
  packages/db-schema/package.json
  packages/service-contract/src/models.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated to using the user-service
  apps/web/src/lib/server/repository/user-repository.ts
  apps/web/src/lib/server/services/user-service.ts
  apps/web/src/routes/(public)/api/v1/auth/+server.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update some imports and exports
  packages/db-schema/package.json
  packages/db-schema/src/index.ts
  packages/service-contract/src/models.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint
