Repository polaroidkidd/cloudkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

fix: delete account logic (#13)
  prisma/seed.js
  prisma/seedUtils.js
  src/lib/components/organisms/modals/signInModal.svelte
  src/lib/components/organisms/modals/signUpModal.svelte
  src/lib/components/organisms/navbar.svelte
  src/lib/schemas/forms.ts
  src/lib/server/repository/ImageRepository.ts
  src/lib/server/repository/UserRepository.ts
  src/lib/utils/RepositoryMethods.ts
  src/lib/utils/general.ts
  src/routes/+layout.server.ts
  src/routes/+page.server.ts
  src/routes/home/+page.server.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

Update README.md
  README.md
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

Update README.md (#14)
  README.md
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

updated upstash dependency to version 1.24.3 and added crypto-js dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

feat: update lucia configuration
  .env.development
  .env.example
  README.md
  docker-compose.yaml
  package.json
  src/lib/components/sections/scripts.svelte
  src/lib/server/auth/lucia.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

feat: update lucia configuration (#15)
  .env.development
  .env.example
  README.md
  docker-compose.yaml
  package.json
  src/lib/components/sections/scripts.svelte
  src/lib/server/auth/lucia.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

feat: migrate to cloudflare KV
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  prisma/seed.js
  src/app.d.ts
  src/lib/components/organisms/modals/signInModal.svelte
  src/lib/server/auth/lucia.ts
  src/routes/users/+page.server.ts
  wrangler.toml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

add prisma accelerate again
  package.json
  pnpm-lock.yaml
  prisma/prod.schema.prisma
  src/lib/server/repository/prismaClient.ts
  static/favicon.png
  static/icons/LICENSE
  static/icons/cloudkit.svg
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

remove wranlger because we're using upstash
  src/app.d.ts
  src/lib/server/auth/lucia.ts
  src/routes/users/+page.server.ts
  wrangler.toml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

create kv namespace again I ugess
  wrangler.toml
Due: none

update namespace id
  wrangler.toml
Due: none

remove namespace binding
  wrangler.toml
Due: none

recondigure prisma client
  src/lib/server/repository/prismaClient.ts
  src/routes/users/+page.server.ts
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

add .env.development to ignore
  .gitignore
Due: none

update github actions
  .github/workflows/MERGE_MASTER.yml
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

update github actions again
  .github/workflows/MERGE_MASTER.yml
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

trigger fresh deployment
  src/routes/+layout.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

get everything ready for merge to master
  .github/workflows/PR.yml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

migrate back to cloudflare (#22)
  .github/workflows/MERGE_MASTER.yml
  .github/workflows/PR.yml
  .gitignore
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  prisma/prod.schema.prisma
  prisma/seed.js
  src/app.d.ts
  src/lib/components/organisms/modals/signInModal.svelte
  src/lib/server/auth/lucia.ts
  src/lib/server/repository/prismaClient.ts
  src/routes/+layout.svelte
  src/routes/users/+page.server.ts
  static/favicon.png
  static/icons/LICENSE
  static/icons/cloudkit.svg
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

feat: update roadmap
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

feat: update roadmap (#23)
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

started work on v2
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

updated the description
  README.md
  apps/styleguide/src/stories/Introduction.mdx
  apps/web/src/lib/components/sections/run-prod.svelte
  apps/web/src/lib/components/sections/tech.svelte
  apps/web/src/lib/server/auth/lucia.ts
  apps/web/src/lib/server/services/user-service.ts
  apps/web/src/lib/stores/constants.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/routes/(protected)/+layout.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

updated the description with some links
  .github/workflows/PR.yml
  apps/web/src/lib/components/sections/tech.svelte
  packages/ui-core/src/components/lists/list-tem.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

disable html check
  packages/ui-core/src/components/lists/list-tem.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configured tasks a littlbe bit better, still some work with the local api mock containers
  .env.development
  apps/styleguide/package.json
  apps/swagger-ui/vite.config.ts
  apps/web/vite.config.ts
  package.json
  packages/api-mocks/docker-compose.yaml
  packages/db-schema/package.json
  packages/eslint-config/.lintstagedrc
  packages/eslint-config/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update dev script
  package.json
  packages/api-mocks/docker-compose.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

setup api and storybook pages
  apps/styleguide/package.json
  apps/web/src/lib/components/sections/tech.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configure global lint task
  apps/styleguide/.lintstagedrc
  apps/styleguide/src/index.ts
  apps/web/src/hooks.server.ts
  package.json
  packages/tests/.lintstagedrc
  packages/tests/package.json
  packages/ui-core/package.json
  packages/ui-core/src/constants/index.ts
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configured global check task
  apps/web/src/lib/server/repository/image-repository.ts
  apps/web/src/lib/server/repository/user-repository.ts
  apps/web/src/lib/server/services/user-service.ts
  apps/web/src/routes/(protected)/profile/+page.server.ts
  package.json
  packages/ui-core/src/components/buttons/navigation-button.svelte
  packages/ui-core/tsconfig.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configured lint-staged for ui-core
  .husky/pre-commit
  packages/ui-core/.lintstagedrc
Due: none

added tests to ui-core
  packages/ui-core/package.json
  packages/ui-core/src/components/buttons/simple-button.test.ts
  packages/ui-core/svelte.config.js
  packages/ui-core/tsconfig.json
  packages/ui-core/vite.config.ts
  packages/ui-core/vitest-setup.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

configured vitest
  apps/web/package.json
  apps/web/src/lib/components/molecues/user/user-card-list.test.ts
  apps/web/src/lib/components/sections/data-proxy.svelte
  apps/web/src/lib/components/sections/github-actions.svelte
  apps/web/src/lib/components/sections/pr.svelte
  apps/web/src/lib/components/sections/prerequisites.svelte
  apps/web/src/lib/components/sections/prisma-code-org.svelte
  apps/web/src/lib/components/sections/run-local.svelte
  apps/web/src/lib/components/sections/scripts.svelte
  apps/web/vite.config.ts
  apps/web/vitest-setup.ts
  package.json
  packages/ui-core/package.json
  packages/ui-core/src/components/buttons/index.ts
  packages/ui-core/src/components/buttons/navigation-button.svelte
  packages/ui-core/src/components/buttons/simple-button.svelte
  packages/ui-core/src/components/forms/text-edit.svelte
  packages/ui-core/src/components/forms/text-input-area.svelte
  packages/ui-core/src/components/forms/text-input-autocomplete.svelte
  packages/ui-core/src/components/forms/text-input.svelte
  packages/ui-core/src/components/icons/index.ts
  packages/ui-core/src/components/media/image-resource.svelte
  packages/ui-core/src/components/modals/index.ts
  packages/ui-core/src/components/skeletons/skeleton-card-list.svelte
  packages/ui-core/src/constants/index.ts
  packages/ui-core/src/index.ts
  packages/ui-core/src/routes/+page.svelte
  packages/ui-core/src/schemas/index.ts
  packages/ui-core/svelte.config.js
  packages/ui-core/tsconfig.json
  packages/ui-core/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update home page description
  apps/web/src/lib/components/sections/tech.svelte
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix, eslint

update github action
  .github/workflows/PR.yml
  apps/web/package.json
  package.json
  packages/ui-core/package.json
  turbo.json
Due: prettier --write --plugin-search-dir=./src, prettier --check --plugin-search-dir=./src, eslint --fix

Path conditions:
  prettier --write --plugin-search-dir=./src: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  prettier --check --plugin-search-dir=./src: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  eslint --fix: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  eslint: any of: *.{js,ts,svelte}
